<div class="container">
  <div class="row">
    <% @clothings.each do |clothing| %>
      <div class="col-xs-12 col-sm-4">
        <div class ="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= clothing_pic(clothing)%>');">
          <div class="card-category"><h3><%=clothing.gender%></h3></div>
          <div class="card-description">
              <h2><%= clothing.age%></h2>
              <p><%=clothing.description%> </p>
          </div>
            <div class="ribbon"><span>R$<%= clothing.price%></span></div>
            <% if current_user %>
              <%=link_to "", clothing_path(clothing), class:"card-link" %>
            <%else%>
              <%= link_to "Login",  new_user_session_path, class:"card-link" %>
            <%end%>
        </div>
      </div>
    <% end %>
  </div>
