<div class="container">
  <h3>Great to have you here, <%= @user.first_name %></h3>
  <br>
  <h4>Your Profile information:</h4>

  <i class="fa fa-user" aria-hidden="true"></i>: <%= @user.first_name %> <%= @user.last_name %>
  <br>
  <br>
  <i class="fa fa-map-marker" aria-hidden="true"></i>: <%= @user.address %>
  <br>
  <br>
  <i class="fa fa-phone-square" aria-hidden="true"></i>: <%= @user.phone %>
  <br>
  <br>
  <i class="fa fa-envelope"></i>: <%= @user.email %>
  <br>
  <br>

  <%= link_to "Edit",  edit_user_registration_path, class: "btn btn-primary" %>

  <br>


  <h4>Your sales:</h4>
  <%= render partial: "clothings/clothings" %>

</div>
