
<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h4>Credit Card Information</h4>

  <i style="font-size:22px" class="fa">&#xf1f0; </i>
  <i style="font-size:22px" class="fa">&#xf1f3;</i>
  <i style="font-size:22px" class="fa">&#xf1f1;</i>
  <i style="font-size:22px" class="fa">&#xf1f4;</i>



   <%= simple_form_for([@clothing, @purchase]) do |f| %>
   <%= f.input "Name on Card:", input_html: { value: "" } %>
    <%= f.input "Card Number:", input_html: { value: "" } %>
    <%= f.input "Card CVV:", input_html: { value: "" } %>
    <p>Expiration Date:</p>
    <%= f.input :month, collection: 01..12%>
    <%= f.input :year, collection: 2017..2037%>
   <% end %>


    </div>
  </div>

  <div class="text-center">
  <%= simple_form_for([@clothing, @purchase]) do |f| %>
    <%= f.input :clothing_id, as: :hidden, input_html: { value: @clothing.id} %>
    <%= f.submit "Place your order", class: 'btn btn-lg btn-success ' %>
  <% end %>
  </div>
