
<br>
<br>

<div class="container">


<div class="row">

   <div class="col-xs-3 col-xs-offset-2">

  <h2>Price: R$ <%= @clothing.price %></h2>
  <h4>Delivery Price: R$ <%= @delivery_price %> </h4>
  <%= cl_image_tag @clothing.photo.url, width: 300, height: 350, crop: :fill %>
  <h4>Descricao: <%= @clothing.description %></h4>

   </div>


  <div class="col-xs-7">
    <%= render 'new' %>
  </div>

</div>

</div>

<br>
<br>



